body {
background-color: #ffce29; 
color: antiquewhite;
background-image:url("https://jlaw21.github.io/Resources/mario.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center center;
background-attachment:fixed;
font-size:100%;
}

header {
 background-color: rgb(255,57,57); 
 background-image:url("https://jlaw21.github.io/Resources/mario-pipe.png");
 font-family:'Press Start 2P', cursive;
}

section {
background-color:teal; 
color: antiquewhite;
font-style:italic;
}

section header {
    color: #00ce00;

}

aside {
background-color:#007b4a 
}

footer {
 background-color:rgb(255,57,57); 
}

nav {
 background-color:#007b4a; 
    background-image:url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-size: contain;
    background-position:center;
    height:100px;
}

h3 {
    color: #3205fc;
    font-size:1.4em;
    font-style: oblique;
}

p, li {
    font: small-caps 32px 'VT323',monospace;
}
